//*===== feature css start ===*//

// ** news-area style start ** //
.news-area{
    padding: 80px 0 30px 0;
    .section-title{
        position: relative;
        h4{
            color: #333333;
            border-bottom: 3px solid #D9D9D9;
            font-size: 40px;
            font-weight: 700;
            position: relative;
            padding:  0 0 5px 0;
            &::after{
                position: absolute;
                display: block;
                content: '';
                bottom: -3px;
                z-index: 99;
                width: 110px;
                background-color: red;
                border-bottom: 3px solid #49ADA1
            }
        }
        .see-more{
            font-size: 16px;
            font-weight: 700;
            background-color: white;
            position: absolute;
            right: 0;
            bottom: -10px;
            a{
                color: #136A82;
                padding:  0 10px;
            }
            img{
                padding-left: 5px;
            }
        }
    }
    .news-banner{
        border-radius: 20px;
    }
    .news-content-area{
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 5px 30px 0px rgba(204, 204, 204, 0.25);
        padding: 40px;
        .news-date{
            border: 1px solid #D9D9D9;
            border-radius: 5px;
            color: #49ADA1;
            padding: 5px 10px;
            img{
                margin: -4px 0 0 0;
            }
        }
        .news-title{
            margin: 20px 0;
            h3{
                color: #333;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                @include breakpoint(xl){
                    width: 80%;
                }
            }
        }
        .news-content{
            p{
                color: #4F4F4F;
                font-size: 16px;
                font-weight: 400;
            }
        }
        .read-more{
            margin: 25px 0;
            a{
                background-color: #136A82;
                padding: 15px 30px;
                color: white;
                border-radius: 10px;
            }
        }
    }
}
// ** news-area style end ** //
.news-trending-area{
    .news-trending{
        background: #FFF;
        box-shadow: 0px 5px 30px 0px rgba(204, 204, 204, 0.25);
        padding: 50px;
        .section-title{
            h3{
                font-size: 32px;
                font-weight: 700;
                line-height: 26px;
            } 
            p{
                color: #4F4F4F;
                font-size: 16px;
                font-weight: 400;
                padding: 10px 0 20px 0;
                @include breakpoint(lg){
                    width: 70%;
                    margin: 0 auto;
                }
            }
        }
        .news-slider{
            .newsSwiper {
                .swiper-slide{
                    .news-image{
                        position: relative;
                        span{
                            position: absolute;
                            bottom: 20px;
                            left: 20px;
                            border-radius: 5px;
                            background: #49ADA1;
                            color: white;
                            z-index: 22;
                            padding: 3px 7px;
                            font-size: 16px;
                        }
                    }
                    .new-date{
                        padding: 15px 0 10px 0;
                        color: #49ADA1;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    .news-title{
                        p{
                            color: #333;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                        }
                    }
                }
                .swiper-button-prev.swiper-button-disabled{
                    color: white;
                    border-radius: 50%;
                    border: 2px solid #D9D9D9;
                    opacity: 1;
                    padding: 8px 20px;
                    background-color: transparent;
                    &::after{
                        font-size: 20px;
                    }
                }
                .swiper-button-prev{
                    color: white;
                    border-radius: 50%;
                    border: 0px solid #D9D9D9;
                    background: #49ADA1;
                    box-shadow: 0px 15px 20px 0px rgba(73, 173, 161, 0.42);
                    opacity: 1;
                    padding: 9px 22px;
                    &::after{
                        font-size: 20px;
                    }
                }
                .swiper-button-next.swiper-button-disabled{
                    color: white;
                    border-radius: 50%;
                    border: 2px solid #D9D9D9;
                    opacity: 1;
                    padding: 8px 20px;
                    background-color: transparent;
                    &::after{
                        font-size: 20px;
                    }
                }
                .swiper-button-next{
                    color: white;
                    border-radius: 50%;
                    border: 0px solid #D9D9D9;
                    background: #49ADA1;
                    box-shadow: 0px 15px 20px 0px rgba(73, 173, 161, 0.42);
                    opacity: 1;
                    padding: 9px 22px;
                    &::after{
                        font-size: 20px;
                    }
                }
                .swiper-pagination{
                    .swiper-pagination-bullet.swiper-pagination-bullet-active{
                        background: #49ADA1;
                    }
                }
            }
        }
    }
}

// ** footer style start ** //
.footer{
    .footer-area{
        background: #F8FBFF;
        background-image: url('./../images/footer_bg.png');
        background-position-x: right;
        background-position-y: bottom;
        background-size: auto;
        background-repeat: no-repeat;
        padding: 50px 0;
        h4{
            color: #333;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
        }
        .social-link{
            display: flex;
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                margin: 10px 5px;
                a{
                    background-color: #37D1A8;
                    color: #005B43;
                    // padding: 10px;
                    font-size: 0.938rem;
                    border-radius: 50%; 
                    
                    &:hover{
                        background-color: #005B43;
                        color: #37D1A8;
                    }
                    &.facebook{
                        padding: 10px 16px;
                    }
                    &.twitter{
                        padding: 10px 12px;
                    }
                    &.google{
                        padding: 10px 10px;
                    }
                    &.linkedin{
                        padding: 10px 15px;
                    }
                }
                
            }
        }
        p{
            font-size: 1.25rem;
            color: #333333;
        }
        .footer-link{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                margin: 5px 0;
                a{
                    color: #333333;
                    padding: 5px 0;
                    font-size: 0.938rem;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                
            }
        }

        
    }
    .footer-bottom{
        min-height: 45px;
        position: relative;
        color: #fff;
        width: 100%;
        padding: 10px 0 15px 0;
        img{
            max-height: 18px;
            margin-top: 15px;
        }
        p{
            color: #4F4F4F;
            margin: 15px 0 0 0;
            padding: 0 15px 0 0; 
            font-size: 0.938rem;
        }
        ul{
            margin: 15px 0 00 0;
            padding: 0;
            li{
                list-style: none;
                padding: 0 15px;
                a{
                    color: #4F4F4F;
                    font-size: 0.938rem;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .footer-language {
            margin: 15px 0 0 0;
            select{
                border: 1px solid #D9D9D9;
                color: #49ADA1;
                font-weight: bold;
            }
        }
    }
    
}
.scroll-top {
    position: absolute;
    color: $white-color;
    bottom: 30px;
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    right: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0 0px;
    i {
        line-height:33px;
        font-size: 20px;
        font-weight: bold;
        padding: 0 19px;
    }

}
// ** footer style end ** // 
.shop-offer{
    margin: 20px 0;
    .offer-box{
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        &:nth-child(01){
            background-color: #FFEFE5;
        }
        &:nth-child(2) {
            background-color: #EAF4FB;
        }
    }
}
.product-area{
    .theme-bar {
        padding: 10px 35px;
        background-color: white;
        box-shadow: 0px 4px 30px 0px #8CC63E1A;
        border-radius: 50px;
    }
    form{
        input,select{
            border-radius: 50px;
            border: 1px solid #B3E200;
            background-color: #F8F8F8;
            padding: 5px 25px;
            height: 36px;
            margin: 5px 10px 5px 0;
            min-width: 220px !important;
            &::placeholder{
                font-size: $fs-small;
            }
            &:optional{
                font-size: $fs-small;
            }
        }
    }
    nav{
        margin: 5px 0;
        .nav-tabs{
            border: none;
            .nav-link{
                color: #1D4A0C;
                font-size: 21px;
                padding: 10px 15px;
                &.active{
                    border: none;
                    background-color: rgba(172, 219, 1, 0.28);;
                    border-radius: 50%;
                }
                &:hover{
                    border: none;
                    background-color: rgba(172, 219, 1, 0.08);
                    border-radius: 50%;
                }
                &:focus{
                    border: none;
                }
            }
        }
    }
    
}
.shop-details-area{
    padding: 150px 0 0 0;
    .swiper {
        width: 100%;
        height: 370px;
        margin-left: auto;
        margin-right: auto;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;    
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            background-size: cover;
            background-position: center;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 25px;
            }
        }      
            
    }
        .shop_details_slider{
            .swiper-slide-visible.swiper-slide-thumb-active {
                    img {
                        border: 2px solid #76A405;
                    }
                }
        }
        .shop_details_slider_sm {
            .swiper-slide-visible.swiper-slide-thumb-active {
                img {
                    border: 2px solid #76A405;
                }
            }
        }
    .swiper.shop_details_slider{
       
        .swiper-slide {
            
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0px;
            }
            
        }
    }
    .swiper.shop_details_slider_sm{
       height: 150px;
        .swiper-slide {
            height: 150px;
            img {
                display: block;
                width: 100%;
                height: 100px;
                object-fit: cover;
                border-radius: 0px;
            }
            
        }
    }
    .details-content{
        background-image: url('./../images/shop/details/bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        .details-header{
            h3{
                color: #1D4A0C;
                font-size: 22px;
                margin-bottom: 15px;
            }
        }
        p{
            color: #4D4D4D;
        }
    }
}
.shop-discription{
    margin: 50px 0 20px 0;
    .nav{
        border: none;
        .nav-link {
            color: #1D4A0C;
            font-size: 18px;
            padding: 10px 25px;
            border: none;
            margin: 0 10px;
            background-color: #76A40510;
            border-radius: 20px;
            transition: $them-transition;
            &:hover{
                background-color: #76A40528;
            }
            &.active{
                background: $btn-background;
                color: white;
                border: none;
                transition: $them-transition;            
                &:hover {
                    background: $btn-hover-background;
                    color: $theme-color;
                }
            }
        }
    }
    .tab-content{
        padding: 30px 0 0 0;
        .tab-pane{
            p{
                color: #4D4D4D;
            }
            ul{
                li{
                    a{
                        color: #76A405;
                        transition: $them-transition;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
.shop-related-product{
    margin: 50px 0 25px 0;
    .section-header{
        h3{
            font-size: 22px;
            color: $theme-color;
        }
        .related-product{
            display: flex;
            justify-content: end;
            margin-right: 0;
            height: 50px;
            padding: 0 50px;
            .swiper-button-next, .swiper-button-prev{
                
                i{
                    padding: 10px 15px;
                    color: black;
                    border: 1px solid black;
                    border-radius: 10px;
                    font-weight: bold;
                }
                &::after{
                    display: none;
                }
            }
        }
        
    }
    .related-product-area {
        background-color: #EBF0EA;
        background-image: url('./../images/shop/details/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 30px 0;
        padding: 30px 0;
            .related-product {
            background-color: transparent;
        }
    }
}
.blog-right-area{
.search-area {
        form {
            input {
                border-radius: 50px;
                border: 1px solid #B3E200;
                background-color: #F8F8F8;
                padding: 5px 25px;
            }
        }
    }

    .post-category {
        .section-header {
            h3 {
                font-size: 24px;
                color: $theme-color;
            }
        }

        .categroy-links {
            a {
                height: 50px;
                display: flex;
                align-items: center;
                padding: 8px 25px;
                transition: $them-transition;

                &:hover {
                    background-color: #76A40520;
                }
            }
        }

        .post-side-bar {
            margin: 20px 0;
            border-bottom: 1px solid #DADADA;
            padding: 0 0 10px 0;

            .post-title {
                h3 {
                    font-size: 24px;
                    color: black;
                }
            }
        }

        .tag-btns-area {
            a {
                padding: 8px 20px;
                border-radius: 20px;
                margin: 5px 10px;
                border: 1px solid #76A405;
                color: #4D4D4D;
                transition: $them-transition;

                &:hover {
                    background-color: #76A40520;
                }
            }
        }
    }

    .pagination {
        .page-item {
            background-color: #DAEBD2;
            margin: 0 8px;
            border-radius: 50%;
            padding: 8px 15px;

            &.active {
                border-radius: 50%;
                background: $btn-background;
                color: white;
                border: none;
                font-size: 14px;
                transition: $them-transition;

                &:hover {
                    background: $btn-hover-background;
                    color: $theme-color;
                }

                span {
                    background-color: transparent;
                    border: none;
                }
            }

            a {
                background-color: #DAEBD2;
                color: $theme-color;
            }
        }
    }
    .section-header {
        h3 {
            font-size: 24px;
            color: $theme-color;
        }
    }
    .cart-area{
        form{
            padding: 15px 0 0 0;
            input{
                border-radius: 50px;
                border: 1px solid #B3E200;
                background-color: #F8F8F8;
                padding: 5px 25px;
            }
        }
    }
    .payment{
        form{
            input:checked[type=radio]{
                border-color: #97C602 !important;
                background-color: #97C602 !important;
                &:focus{
                    box-shadow: 0 0 0 0.25rem #97C60220;
                }
            }
        }
    }
}
.blog-page-area{    
    background-image: url('./../images/top_page/category/background.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 160px 0 125px 0;
}
.blog-page-details-area{
    padding: 160px 0 0 0 ;
.blog-details-area {
        .details-img {
            img {
                border-radius: 20px;
            }

            .details-author {
                margin: 10px 0;
            }
        }

        .details-header {
            h3 {
                font-size: 24px;
                color: $theme-color;
                margin: 30px 0;
            }
        }

        p,
        ul {
            color: #4D4D4D;
            line-height: 25.5px;
            letter-spacing: 6.5%;
            margin-top: 10px;

            a {
                transition: $them-transition;
                color: #76A405;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
        .details-tag {
            h5 {
                font-size: 18px;
                color: #2E3139;
                margin: 0;
            }
    
            p {
                color: #6D6D6D;
                margin: 0;
            }
        }
        .social{
            align-items: center;
            h5 {
                font-size: 18px;
                color: #2E3139;
                margin: 0;
            }
                margin: 20px 0;

                .facebook,
                .youtube,
                .twitter,
                .linkedin,
                .pinterest,
                .instagram {
                    border: 2px solid $topbartext;
                    border-radius: 50%;
                    margin: 0 3px 0 0;
                    font-size: 20px;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        border: 2px solid $theme-color;
                    }
                }

                .facebook {
                    padding: 6px 6.5px 3px 7.5px;
                    color: $facebook;

                    &:hover {
                        border: 2px solid $facebook;
                    }
                }

                .youtube {
                    padding: 6px 5.5px 3px 5.5px;
                    color: $youtube;

                    &:hover {
                        border: 2px solid $youtube;
                    }
                }

                .twitter {
                    padding: 6px 6px 3px 7px;
                    color: $twitter;

                    &:hover {
                        border: 2px solid $twitter;
                    }
                }

                .pinterest {
                    padding: 6px 7px 3px 8px;
                    color: $pinterest;

                    &:hover {
                        border: 2px solid $pinterest;
                    }
                }

                .instagram {
                    padding: 6px 8px 3px 9px;
                    background: $instagram;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    &:hover {
                        border: 2px solid $instagram;
                    }
                }

                .linkedin {
                    padding: 6px 7px 3px 8px;
                    color: $linkedin;

                    &:hover {
                        border: 2px solid $linkedin;
                    }
                }
            
        }
        .section-header{
            h3{
                font-size: 24px;
                color: $theme-color;
                padding: 20px 0;
            }
        }
        form{
            input ,textarea{
                border: 1px solid #B3E200;
                background-color: #F8F8F8;
                padding: 5px 25px;
            }
            input{
                border-radius: 50px;
            }
            textarea{
                border-radius: 25px;
            }
        }
}
.blog-related-slier{
    margin: 50px 0 25px 0;
    
        .section-header {
            h3 {
                font-size: 22px;
                color: $theme-color;
            }
    
            .related-product {
                display: flex;
                justify-content: end;
                margin-right: 0;
                height: 50px;
                padding: 0 50px;
    
                .swiper-button-next,
                .swiper-button-prev {
    
                    i {
                        padding: 10px 15px;
                        color: black;
                        border: 1px solid black;
                        border-radius: 10px;
                        font-weight: bold;
                    }
    
                    &::after {
                        display: none;
                    }
                }
            }
    
        }
}
.cart-area{
    padding: 160px 0 0 0;
    table{
        td{
            input{
                border-radius: 50px;
                border: 1px solid #B3E200;
                background-color: #F8F8F8;
                padding: 5px 25px;
            }
        }
    }
}
.cart-total-area{
    display: flex;
    justify-content: end;
    margin: 60px 0 0 0 ;
    .total{
        .theme-bar{
                padding: 25px 35px;
                .section-header{
                    h3{
                        font-size: 24px;
                        color: $theme-color;
                        padding: 15px 0; 
                    }
                }
                form{
                    input{
                        border-radius: 50px;
                        border: 1px solid #B3E200;
                        background-color: #F8F8F8;
                        padding: 5px 25px;
                    }
                }
        }
    }
}
// ** contact style start ** // 
.contact-area{
    .contact-form{
        background-color: $white-color;
        padding: 30px;
        border-radius: $border-radius-av;
        box-shadow: 0px 4px 30px rgba(241, 89, 89, 0.1);
        .header-area{
            margin: 30px 0;
        }
        form{
            input, textarea, select{
                border-radius: $border-radius-lg;    
                border-top-right-radius: $border-radius-lg !important;
                border-bottom-right-radius: $border-radius-lg !important;
                padding: 8px 25px;
                border: 1px solid #E8E8E8;
                background-color: #F8F8F8;
                margin: 3px 0;
                &:focus{
                    box-shadow: $focus;
                    border: 1px solid $theme-color;
                }
                &::placeholder{
                    color: $plaseholder;
                }
                &::placeholder{
                    color: $text-color;
                    opacity: 0.8;
                    font-size: $fs-small;
                }
               
            }
            select{
                color: $text-color !important;
                opacity: 0.8;
                font-size: $fs-small !important;
            }
            .form-control{
                color: $text-color !important;
                opacity: 0.8;
                font-size: $fs-small !important;
            }
            .form-label{
                font-size: $fs-x-small;
                opacity: 0.8;
                color: $text-color;
            }
            textarea{
                &:focus{
                    border-radius: $border-radius-lg !important;    
                    border-top-right-radius: $border-radius-lg !important;
                }
            }
        }
    }
}
.cart-details-area{
    .billing-address{
        padding: 160px 0 0  0;
        .section-header{
            h3{
                font-size: 24px;
                color: $theme-color;
            }
        }
        form{
            padding: 15px 0 0 0;
            select, input {
                border-radius: 50px;
                border: 1px solid #B3E200;
                background-color: #F8F8F8;
                padding: 5px 25px;
                color: #487509;
                &::placeholder {
                        font-size: 12px;
                        opacity: 0.7;
                    }
                
            }
            textarea{
                border-radius: 15px;
                border: 1px solid #B3E200;
                background-color: #F8F8F8;
                padding: 5px 25px;
                color: #487509;
                &::placeholder {
                        font-size: 12px;
                        opacity: 0.7;
                    }
            }
            select{
                font-size: 12px;
                color: #487509;
                padding: 8px 23px;
            }
        }
    }
}
// ** contact style end ** // 

.modal {
    .modal-dialog{
        .modal-content{
            .modal-slider-area{
                .swiper{
                    .swiper-wrapper{
                        .swiper-slide{
                            padding: 30px 20px;
                        }
                    }
                    .swiper-button-next, .swiper-button-prev{
                        &::after{
                            display: none;
                        }
                        padding: 20px 32px;
                        border-radius: 50%;
                        background: $theme-color-trans;
                        box-shadow: 0px 0px 30px rgba(241, 89, 89, 0.1);
                        height: auto;
                        transition: all 0.2s ease-in-out;
                        i{
                            font-size: $fs-header;
                            color: $theme-color;
                        }
                        &:hover{
                            background-color: $theme-color;
                            i{
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
// ** quote-area astyle end ** // 


// ** our-works nav-and tab area end ** // 
//?==== all keyframes css ends  ====?//
